.label {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #666;
    background-color: white;
    transition: all 0.3s;
  }

  &.fullWidth {
    width: 100%;
  }
}
