.backdrop {
  display: none;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.open {
    display: flex;
  }
  .paper {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 90%;
    height: 90%;
    max-width: 300px;
    max-height: 400px;
    padding: 20px;
    position: relative;
    overflow-y: scroll;
    gap: 20px;
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}
